
.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Abel";
}

.Header { 
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: gray; 
  padding: 10px;
  margin-bottom: 20px;
}


.Footer {
  background-color: black;
  color: gray;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.Navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  color: gray;
  padding: 10px;
  text-align: left;
  margin-bottom: 20px;
}

.Navegation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navegation li {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;

}

.Navegation a {
  color: gray;
  text-decoration: none;
}

.Navegation a:hover {
  color: white;
}

.Titulo {
  margin-bottom: 20px;
} 

.Titulo h1 {
  margin: 15px;
  display: flex;
}

.Titulo p {
  margin: 15px;
}

.MoneyList {
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 75%;
}

td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 1px;
}

.Transacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}














